/* 底部导航 */
.dibudh {
    /* background-color: #1da1f2; */
    width: 80%;
    height: 30px;
    line-height: 30px;
    font-size: xx-large;
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto 10px;
    z-index: 3;
    /* color: #666; */
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.dibudh a {
    text-decoration: none;
    color: #666;
}

.prev:hover,
.next:hover {
    cursor: pointer;
    color: #c889ebe8;
}
